logging:
  level:
    org.springframework.security: INFO
    org.springframework.web: INFO

spring:
  rabbitmq:
    host: rabbitmq

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8762/eureka/
  instance:
    prefer-ip-address: true
    
security:
  oauth2:
    resource:
      user-info-uri: http://localhost:5000/uaa/users/current

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 20000
  config:
    stream:
      maxConcurrentConnections: 20